@import "../../styles/variables";
.grid{
    width: 305px;
    height: 223px;
    background-color: $light;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    
    @include breakpoint(md) {
        margin : 1rem 0.5rem;
    }
    &__header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1.3rem 2rem;
            font-weight: 600;
    }
    ul{
        padding-left: 4rem;
    }
}